body {
  //background-color: $body-color;
  // background-image: linear-gradient($body-color 55%,  #2e8de14c);
  background-image: linear-gradient($body-color 55%,  #2e8de14c);
  overflow-x: hidden;
  position: relative;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #2e8de14c;
  animation: animate 25s linear infinite;
  bottom: 636px;
  z-index: -1;
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-2500px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

::selection {
  background: darken($color: $primary-color, $amount: 10);
  color: $white;
}

.row {
  margin-top: 15px;
}

.hov-scale-logo {
  transition: 0.3s;
}

.hov-scale-logo:hover {
  transform: scale(1.05);
}

.featured-about {
  background: #38a2ff2b;
}

.feature {
  margin-bottom: 20px;
}

@media (min-width: 900px) {
  .feature {
    width: 90%;
  }
}

.featured-about-text {
  color: $text-color-dark;
}

.widget {
  border-radius: 15px;
  box-shadow: 0px 0px 10px 2px #2e8ce124;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

.widget:hover {
  transform: scale(1.05);
}

.navbar-collapse {
  box-shadow: 0px 0px 15px 0px #0000000f;
}

.card:hover {
  transform: scale(1.025);
}

.post-wrapper:hover {
  transform: scale(1.025);
}

.post-wrapper {
  border-radius: 15px;
  box-shadow: 0px 0px 10px 2px #2e8ce1;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

.content {
  padding: 10px;
  background-color: #fefefe;
  box-shadow: 0px 0px 10px 2px #2e8ce11c;
  border-radius: 15px;
  margin-bottom: 25px;
}

.card {
  border-radius: 15px !important;
  box-shadow: 0px 0px 10px 2px #2e8ce124 !important;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

.post-content {
  border-radius: 15px;
}

.nav-item {
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  background-color: transparent !important;
  border-radius: 15px !important;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;

  animation-name: scale-pulsing;
  animation-timing-function: ease-in-out;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes scale-pulsing {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}

img {
  vertical-align: middle;
  border: 0;
  max-width: 100%;
  border-radius: 10px;
}

a:hover {
  color: $primary-color;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;

  &:focus {
    outline: 0;
  }
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;

  &-sm {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &-title {
    margin-bottom: 20px;

    &-border {
      border-bottom: 1px solid $border-color;
      padding-bottom: 20px;
      display: inline-block;
    }
  }
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.border-default {
  border-color: $border-color !important;
}

.outline-0 {
  outline: 0 !important;
}

.bg-primary {
  background: $primary-color !important;
}

.bg-light {
  background: $light !important;
}

.text-primary {
  color: $primary-color !important;
}

.text-light {
  color: $text-color-light !important;
}

.text-dark {
  color: $text-color-dark !important;
}

.text-default {
  color: $text-color !important;
}

.font-primary {
  font-family: $primary-font !important;
}

.font-secondary {
  font-family: $secondary-font !important;
}

.font-tertiary {
  font-family: $tertiary-font !important;
  letter-spacing: 1px;
}

.zindex-1 {
  z-index: 1;
}

.overflow-hidden {
  overflow: hidden;
}

.mobile-view {
  display: none;

  @include desktop {
    display: block;
  }
}

.desktop-view {
  display: block;

  @include desktop {
    display: none;
  }
}

.form-group {
  label {
    font-family: $tertiary-font;
    color: $text-color-dark;
    font-size: 14px;
  }

  .form-control {
    border: 0;
    border-bottom: 1px solid $border-color;
    border-radius: 0;
    padding: 0;
    height: 40px;
  }

  margin-bottom: 40px;
}

textarea.form-control {
  height: 100px !important;
}

.input-group>.input-group-append:not(:last-child)>.btn{
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}