// Color Variables
//$primary-color: #DAB768;
$primary-color: #2074e3;
$text-color: #666;
$text-color-dark: #000;
$text-color-light: #999;
$body-color: #fefefe;
$border-color: #DEDEDE;
$black: #000;
$white: #fff;
$light: #ededed;

// Font Variables
$primary-font: 'Ubuntu', sans-serif;
$secondary-font: 'Ubuntu Condensed', sans-serif;
$tertiary-font: 'Montserrat', sans-serif;
$icon-font: 'themify';