{{ define "main" }}

<section class="pt-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-10 mx-auto text-center">
        <h1>{{.Title }}</h1>
        <p>{{.Params.Description | markdownify}}</p>
      </div>
      <div class="col-12 mb-4">
        <img src="{{ .Params.Image | absURL }}" class="img-fluid w-100" alt="">
      </div>
      <div class="col-lg-12 col-md-12 mx-auto">
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</section>

<!-- team -->
{{ if gt (len .Params.Team) 1 }}
<section class="section-sm" id="Team">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ i18n "team" }}</h2>
      </div>
      {{ range .Params.Team }}
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card bg-transparent">
          <a href="{{ .link }}" style="height: min-content;">
          <div class="card-body p-1" style="background-color: white; border-radius: 1.25rem;">
            <img src="{{ .image | absURL }}" class="card-img-top mb-3" style="border-top-left-radius: 1.25rem; border-top-right-radius: 1.25rem;" alt="">
            <h4 class="card-title mb-2" style="text-align: center;">{{ .name | title }}</h4>
            <p class="text-light" style="text-align: center;">{{ .designation | markdownify }}</p>
          </div>
          </a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /teem -->

{{ end }}